.top-nav {
  position: fixed;
  top: 1px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center; /* Center the nav content */
  align-items: center;
  padding: 20px;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  box-sizing: border-box;
  gap: 20px; /* 👈 THIS separates .logo and ul with space */
}

.top-nav .logo a {
  background: linear-gradient(45deg, #f39c12, #8e44ad);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
  display: inline-block;
}

.top-nav .logo a:hover {
  transform: translateY(-20%) scale(1.05);
}

.top-nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s ease;
  display: inline-block;
}

.top-nav ul li a:hover {
 background: linear-gradient(45deg, #f39c12, #8e44ad);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
  transition: all 0.3s ease;
}