@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
   font-family: "Press Start 2P", cursive;
   text-decoration: none;
   margin: 0;
   overflow-x: hidden;
   overflow-y: hidden;
   color: var(--text-primary);
     background: url("/assets/media/background/senkbucketup.webp") no-repeat center center;
  background-size: cover;
  background-position: center;

}
.nav {
   padding: 1rem;
   transition: transform 0.5s ease;
   border-radius: 0 10px 10px 0;
   transform: translateX(0);
   width: 100vw;
   height: 0.5vw;
   display: flex;
   align-items: center;
}

.close-tab {
   border: none;
   background: none;
   font-size: 12px;
   color: var(--text-primary);
   cursor: pointer;
   transition: color 0.3s ease;
   width: 20px;
}

.close-tab:hover {
   color: var(--text-primary);
}

.nav-bar {
   left: 0;
   right: 0;
   height: 2.5em;
   padding: 0 25px;
   box-sizing: border-box;
   transition: 0.35s ease;
   z-index: 100;
   width: 100vw;
   position: fixed;
   background-color: rgba(0, 0, 0, 0.23);
}


.nav-button {
   border-radius: 10px;
   color: white;
  background: rgba(0, 0, 0, 0.6);
   height: 2em;
   width: 3em;
   border: none;
   right: 10px;
   top: auto;
   box-sizing: border-box;
   margin-right: 10px;
   transition: 0.3s ease;
   margin-top: 0 auto;
   margin-bottom: 0 auto;
}

.nav-button:hover {
transform: scale(1.3);
   cursor: pointer;
}
 video#bg-video {
      position: fixed;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -1;
      object-fit: cover;
    }
.nav-btn-left {
   float: left;
}

.nav-btn-right {
   float: right;
}

.nav-container {
   min-width: 5vw;
   min-height: 10vh;
   display: inline;
}

.nav-left {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 1%;
   width: 80%;
}

.nav-right {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: 1%;
   width: 20%;
}

.nav-right .nav-btn:hover {
   text-transform: uppercase;
   cursor: pointer;
   font-weight: 800;
   font-family: "Inter", sans-serif;
   font-style: normal;
   font-size: 3vw;
   transform: translateX(-20%);
}

.nav-right .nav-btn:hover {
   text-transform: uppercase;
   cursor: pointer;
   font-weight: 800;
   font-family: "Inter", sans-serif;
   font-style: normal;
   font-size: 3vh;
   transform: translateX(-20%);
}

.fullscreen .nav-bar {
   display: none;
}

.fullscreen #ifra {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.bar {
   font-family: "Press Start 2P", cursive;
   font-size: 10px;
   height: 20px;
   background: rgba(255, 255, 255, 0.05);
   border: none;
   color: var(--text-primary);
   width: 60vw;
   height: 30px;
   border-radius: 5px;
   margin: 0 auto;
   transition: 0.3s;
   text-align: center;
}

.bar:hover {
   background: rgba(0, 0, 0, 0.3);
   box-shadow: none;
   outline: none;
   color: var(--text-primary);
   transition: 0.3s;
}

.bar:focus {
   background: rgba(0, 0, 0, 0.6);
   box-shadow: none;
   outline: none;
   color: var(--text-primary);
   transition: 0.3s;
}

.navpost {
   padding: none;
   float: right;
   margin-top: 0em;
   color: var(--text-primary);
   border-radius: 5px;
}

.overlay {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: none;
}

h1 {
   text-align: center;
   color: var(--text-primary);
   font-size: 50px;
   white-space: nowrap;
}

p {
   text-align: center;
   color: var(--text-primary);
   font-size: 25px;
}

.frame-container iframe {
   display: none;
}

.frame-container iframe.active {
   display: block;
}

#add-tab {
   padding: 0.5rem;
   cursor: pointer;
   background: rgba(0, 0, 0, 0.6);
   color: var(--text-primary);
   border: none;
   border-radius: 5px;
   margin-right: 0.5rem;
   transition: background-color 0.3s ease;
}



ul {
   list-style-type: none;
   padding: 0;
   display: flex;
}

li {
   padding: 0.4rem;
background: rgba(0, 0, 0, 0.35);
   border: none;
   margin-right: 0.5rem;
   cursor: pointer;
   border-radius: 5px;
   transition: background-color 0.3s ease;
   display: flex;
   align-items: center;
   justify-content: center;
}

li.active {
   background: darkgray;
}



iframe {
   position: absolute;
   width: 100%;
   height: 88%;
   border: none;
   left: 0;
   top: 12%;
}
